@model Web_ManagementHouseRentals.Data.Property
@{
    ViewData["Title"] = "Details";
}


<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">@Html.DisplayFor(model => model.NameProperty)</h1>
                    <span class="color-text-a">@Html.DisplayFor(model => model.Address)</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="properties" asp-action="Index">Properties</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Html.DisplayFor(model => model.NameProperty)
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                    @foreach (var photo in Model.PropertyPhotos)
                    {
                        <div class="carousel-item-b">
                            <img src="@Url.Content(photo.ImageUrl)" style="height: 80vh" alt="">
                        </div>
                    }
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="ion-money">€</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">@Html.DisplayFor(model => model.MonthlyPrice)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Quick Summary</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>@Html.DisplayFor(model => model.Id)</strong>
                                        <span>1134</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Location:</strong>
                                        <span>@Html.DisplayFor(model => model.Address)</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Property Type:</strong>
                                        <span>@Html.DisplayFor(model => model.Type.Name)</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Area:</strong>
                                        <span>
                                            @Html.DisplayFor(model => model.Area)
                                            <sup>2</sup>
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Typology</strong>
                                        <span>@Html.DisplayFor(model => model.SizeType.Name)</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Energy Certificate</strong>
                                        <span>@Html.DisplayFor(model => model.EnergyCertificate.Name)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Property Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                @Html.DisplayFor(model => model.Description)
                            </p>
                        </div>
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Extras</h3>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-list color-text-a">
                            <ul class="list-a no-margin">
                                @foreach (var item in Model.Extra)
                                {
                                    <li>@item.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box-d section-t4">
                            <h3 class="title-d">Location</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="map" style="height:500px; width:1000px;"></div>
                        <script>
                                var map;
                                function initMap() {
                                    map = new google.maps.Map(document.getElementById('map'), {
                                        center: { lat: @Model.Lat, lng: @Model.Long},
                                        zoom: 17
                                    });
                                    const beachMarker = new google.maps.Marker({
                                        position: { lat: @Model.Lat, lng: @Model.Long},
                                        map,
                                    });
                                }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row section-t3">
                    <div class="col-sm-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Contact Landlord</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <img src="/images/rental4u.jpg" alt="" class="img-fluid">
                        <div class="col-md-8 col-lg-6"></div>
                        <div class="col-md-6 col-lg-4">
                            <div class="property-agent">
                                <h4 class="title-agent">@Html.DisplayFor(model => model.Owner.FullName)</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex justify-content-between">
                                        <strong>Phone:</strong>
                                        <span class="color-text-a">@Html.DisplayFor(model => model.Owner.PhoneNumber)</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Email:</strong>
                                        <span class="color-text-a">@Html.DisplayFor(model => model.Owner.Email)</span>
                                    </li>
                                    @if (this.User.Identity.IsAuthenticated && Model.Owner.Email != this.User.Identity.Name)
                                    {
                                        <li>
                                            <a asp-action="SendProposal" class="btn btn-a" asp-route-id="@Model.Id">Get in touch</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <div class="container">
                        <div class="property-contact">
                            <div class="row">
                                <div class="col-md-12 mb-1 text-center">
                                    <div class="title-box-d section-t4">
                                        <h4>Login or create an account to contact the property's landlord</h4>
                                        <a asp-controller="Account" asp-action="Login" class="btn btn-success">
                                            <span class="text-white ">Login</span>
                                        </a>
                                        <a asp-controller="Account" asp-action="Register" class="btn btn-success">
                                            <span class="text-white">Sign in</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--/ Property Single End /-->

@section scripts {
    <section class="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                Initialize();
            });
        </script>
    </section>
}
    <style>
        #map_canvas img {
            max-width: none
        }

        .infoDiv {
            height: 200px;
            width: 300px;
            -webkit-user-select: none;
            background-color: white;
        }
    </style>
