@model Web_ManagementHouseRentals.Models.ShowPropertiesIndexViewModel

@{
    ViewData["Title"] = "Properties";
}



<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Properties</h1>
                    <span class="color-text-a">Grid Properties</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Properties Grid
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ Property Grid Star /-->
<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    <form>
                        <select class="custom-select">
                            <option selected>All</option>
                            <option value="1">New to Old</option>
                            <option value="2">For Rent</option>
                            <option value="3">For Sale</option>
                        </select>
                    </form>
                </div>
            </div>
            @foreach (var item in Model.PaginatedProperties())
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow" style="height: 27rem;">
                        <div class="img-box-a">
                            <img src="@Url.Content(item.PropertyPhotos.FirstOrDefault().ImageUrl)" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.NameProperty)
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">rent | @Html.DisplayFor(modelItem => item.MonthlyPrice) €</span>
                                    </div>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="link-a">
                                        Click here to view
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Area)
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Size</h4>
                                            <span>@Html.DisplayFor(modelItem => item.SizeType.Name)</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Property type</h4>
                                            <span>@Html.DisplayFor(modelItem => item.Type.Name)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="pagination-a">
                            <ul class="pagination justify-content-end">
                                @for (int i = 1; i <= Model.PageCount(); i++)
                                {
                                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")"> <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a> </li>}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Property Grid End /-->