@model IEnumerable<Web_ManagementHouseRentals.Data.Property>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">List of Properties</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive justify-content-center">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NameProperty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Area)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.AvailableProperty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MonthlyPrice)
                        </th>
                        <th>Deactivation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameProperty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableProperty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonthlyPrice)
                        </td>
                        <td>
                            <a class="btn btn-warning btn-icon-split btn-sm" asp-action="Disable" asp-route-id="@item.Id">
                                <span class="icon text-white-50">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text">Disable</span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info btn-icon-split btn-sm" asp-action="DetailsProperty" asp-route-id="@item.Id">
                                <span class="icon text-white-50">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text">Details</span>
                            </a>
                       
                            <a class="btn btn-danger btn-icon-split btn-sm" asp-action="DeleteProperty" asp-route-id="@item.Id">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Delete</span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>