@model Web_ManagementHouseRentals.Models.CreatePropertyViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameProperty" class="control-label"></label>
                <input asp-for="NameProperty" class="form-control" />
                <span asp-validation-for="NameProperty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailableProperty" /> @Html.DisplayNameFor(model => model.AvailableProperty)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyPrice" class="control-label"></label>
                <input asp-for="MonthlyPrice" class="form-control" />
                <span asp-validation-for="MonthlyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="form-control"></select>
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeTypeId" class="control-label"></label>
                <select asp-for="SizeTypeId" asp-items="Model.SizeTypes" class="form-control"></select>
                <span asp-validation-for="SizeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyCertificateId" class="control-label"></label>
                <select asp-for="EnergyCertificateId" asp-items="Model.EnergyCertificates" class="form-control"></select>
                <span asp-validation-for="EnergyCertificateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var item in Model.Extras)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedExtras"
                                               value="@item.Id"
                                               @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />
                                        @item.Id @:  @item.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

}