@model Web_ManagementHouseRentals.Models.CreatePropertyViewModel

@{
    ViewData["Title"] = "Create Ad";

}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Create Ad</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Create Ad
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->
    <!--/ Signin Form /-->
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    @*<div class="text-success">
                        <center>
                            <p>
                                @ViewBag.Message
                            </p>
                        </center>
                    </div>*@

                    @*<div class="text-success mb-2"><h5>@ViewBag.Message</h5></div>*@
                    <div class="login-wrap p-4 p-md-5">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div class="d-flex">
                                <div class="form-group mb-3 mr-5 w-75">
                                    <label asp-for="NameProperty" class="control-label"></label>
                                    <input asp-for="NameProperty" class="form-control" />
                                    <span asp-validation-for="NameProperty" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="PropertyTypeId" class="control-label"></label>
                                    <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="form-control"></select>
                                    <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" placeholder="Ex: Rua Jau, Nº31" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mb-3 mr-5 w-50">
                                    <label asp-for="Area" class="control-label"></label>
                                    <input asp-for="Area" type="number" class="form-control" />
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 w-50">
                                    <label asp-for="MonthlyPrice" class="control-label"></label>
                                    <input asp-for="MonthlyPrice" type="number" class="form-control" />
                                    <span asp-validation-for="MonthlyPrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mb-3 mr-5 w-50">
                                    <label asp-for="EnergyCertificateId" class="control-label"></label>
                                    <select asp-for="EnergyCertificateId" asp-items="Model.EnergyCertificates" class="form-control"></select>
                                    <span asp-validation-for="EnergyCertificateId" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 w-50">
                                    <label asp-for="SizeTypeId" class="control-label"></label>
                                    <select asp-for="SizeTypeId" asp-items="Model.SizeTypes" class="form-control"></select>
                                    <span asp-validation-for="SizeTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mb-3 mr-5 w-75">
                                    <label contextmenu="Extras" class="control-label"></label>
                                    <div class="table">
                                        <table>
                                            <tr>
                                                @{
                                                    int cnt = 0;

                                                    foreach (var item in Model.Extras)
                                                    {
                                                        if (cnt++ % 3 == 0)
                                                        {
                                                        @:</tr><tr>
                                                        }
                                                        @:<td>
                                                            <input type="checkbox"
                                                                   name="selectedExtras"
                                                                   value="@item.Id"
                                                                   @(Html.Raw(item.Assigned ? "checked=\"checked\"" : "")) />
                                                               @:  @item.Name
                                                        @:</td>
                                                    }
                                                @:</tr>
                                                }
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="ImagesFiles" class="control-label"></label>
                                    <input asp-for="ImagesFiles" multiple class="form-control" type="file" />
                                    <span asp-validation-for="ImagesFiles" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="form-control btn btn-success rounded submit px-3" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Singin Form end /-->
    @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@

