@model IEnumerable<Web_ManagementHouseRentals.Data.Property>

@{
    ViewData["Title"] = "IndexCustomers";
}

<h1>Properties of Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table" id="indexPropertyCustomerTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AvailableProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.AvailableProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
